* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg: rgb(49, 48, 48);
    --fg: white;
    --border: cyan;
    --hover: aliceblue;
    --output: orange;
    --fg-ds: rgb(139, 135, 135);
}

.main-ctn {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg);
    color: var(--fg);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: smaller;
    text-align: center;
    padding: 5px;
    background-color: var(--fg-ds);
    color: var(--border);
}

h2 {
    padding-bottom: 15px;
}

p {
    padding-bottom: 2px;
}

.vertical-nav {
    width: 100px;
    background-color: var(--bg);
    border-right: 1px solid var(--fg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-nav ul {
    width: 100%;
}

.vertical-nav ul li {
    list-style: none;
    width: 100%;
}

.vertical-nav ul li button {
    width: 100%;
    height: 30px;
    background-color: var(--bg);
    color: var(--fg);
    border: 1px solid var(--border);
}

.vertical-nav ul li button:hover {
    background-color: var(--hover);
    color: var(--bg);
    cursor: pointer;
}

.main-content {
    flex: 1;
    padding: 20px;
}

#page {
    background-color: var(--bg);
    color: var(--fg);
    padding: 15px;
}

#connectBtn {
    margin-top: 5px;
    padding: 5px;
    background-color: var(--fg);
    color: var(--bg);
    border: 1px solid var(--border);
}

#connectBtn:hover {
    background-color: var(--bg);
    color: var(--fg);
    cursor: pointer;
}

.connection-form {
    margin: 10px 0px;
}

.connection-form label {
    display: block;
    margin-bottom: 5px;
}

.connection-form input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid var(--border);
    border-radius: 3px;
}

#connectionOutput {
    margin-top: 10px;
    background-color: var(--fg);
    color: var(--output);
    padding: 10px;
    height: 60px;
    overflow-y: scroll;
    word-break: break-all;
}

#arduino-info {
    margin-top: 10px;
    background-color: var(--fg);
    color: var(--output);
    padding: 10px;
    height: 100px;
    overflow-y: scroll;
    word-break: break-all;
}

#arduinoUnoBtn, #arduinoMegaBtn, #arduinoNanoBtn, #ESP32S3Btn, #ESP32C3Btn, #ESP32P3Btn {
    margin-top: 5px;
    padding: 5px;
    background-color: var(--bg);
    color: var(--fg);
    border: 1px solid var(--border);
}

#arduinoUnoBtn:hover, #arduinoMegaBtn:hover, #arduinoNanoBtn:hover, #ESP32S3Btn:hover, #ESP32C3Btn:hover, #ESP32P3Btn:hover {
    background-color: var(--hover);
    color: var(--bg);
    cursor: pointer;
}